 <header>
        <nav>
            <h1>Portfólio de: <%= dados.apresentacao.nome %>
            </h1>

            <ul>
                <li><a href="/">Apresentação</a></li>
                <li><a href="/formacao">Formação</a></li>
                <li><a href="/cursos">Cursos</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/competencias">Competências</a></li>
            </ul>

        </nav>

    </header>

    <main>